.button {
  color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 8px;
  padding: 16px;
  margin: 0;
  box-sizing: border-box;
  background: var(--blue);
  font-weight: 400;
  font-size: 16px;
}

.button:hover {
  background-color: #5595e9;
  cursor: pointer;
  transition: 0.5s;
}
