* {
  --white: #ffffff;
  --dark-gray: #464646;
  --blue: #2a7ae4;
  --bg-contact: #eaf2fd;
  --font-principal: "Raleway", sans-serif;
}

* {
  margin: 0;
  font-family: var(--font-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
